@model IEnumerable<OCRC.Models.User>

@{
    ViewBag.Title = "UserList";
}

<script src="https://use.fontawesome.com/1e803d693b.js"></script>

<div class="row">
    <div class="panel panel-default user_panel">
        <div class="panel-heading">
            <h3 class="panel-title">User List</h3>
        </div>
        <div class="panel-body">
            <div class="table-container">
                <table class="table-users table" border="0">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td width="10" align="center">
                                    <i class="fa fa-2x fa-user fw"></i>
                                </td>
                                <td>
                                    <a href="@Url.Action( "EditUser", "Account", new { id = @item.userID })">
                                        <p>@Html.DisplayFor(modelItem => item.fname) @Html.DisplayFor(modelItem => item.lname)</p>
                                        <br>
                                        <i class="fa fa-envelope">@Html.DisplayFor(modelItem => item.email)</i>
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor( modelItem => item.role )
                                </td>
                               <td align="center">
                                   @* Last Login:  @Html.DisplayFor( modelItem => item. not implemented )<br><small class="text-muted">Less Than an hour</small>*@
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
                <span class="btn btn-default">@Html.ActionLink("Register user", "RegisterUser", "Account")</span>
            </div>
        </div>
    </div>
</div>


